// #8091ed disabled
// #3f51b5 initial
.insertMenuNavBar {
   width: 100%;
   display: flex;

   .package-type {
      width: 50%;

      &.disabled {
         background-color: #8091ed;
         cursor: auto;
      }

      &.enabled {
         box-shadow: black 0px 2px 3px 1px;
      }
   }
}